.filter-form-wrapper {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #836200;
  /* border-bottom: 2px solid #bf9000; */
  /* border-bottom: 2px solid #bf8f0070; */
}

.filter-form-wrapper img {
  width: 100px;
}

.filter-form-wrapper input[type=text] {
  font-size: 20px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
  border-bottom: solid 2px #836200;
  border-radius: 4px;
  margin-right: 10px;
  box-sizing: border-box;
  width: 250px;
  color: #3F2402;
  padding: 2px;
  padding-left: 4px;
}


.filter-form-wrapper input[type=text]:focus {
  background-color: #e8e8e8;
}

.filter-form-wrapper input[type=checkbox] {
  display: none;
}

.filter-form-wrapper .displayLikedText {
  font-size: 16px;
  padding-right: 5px;
  color: #3F2402;
  font-weight: 500;
}

.filter-form-wrapper .displayLikedIcon {
  font-size: 26px;
  position: relative;
  top: 7px;
}

.simulate-form-size {
  width: 364.01px;
  /* box-sizing: content-box; */
}

.beers-wrapper {
  background-color: #f2f2f2;
  padding: 10px;
  padding-bottom: 74.02px;
}

.beers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.beer {
  background-color: #fff;
  text-align: center;
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 10px;
  position: relative;
  transition: transform ease-in-out .2s;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.beer.liked {
  box-shadow: 0 0 5px 0px #bf9000;
}

.beer:hover {
  z-index: 5;
  /* transform: rotate(5deg) scale(1.1); */
  transform: rotate(2deg) scale(1.05);
}

.beer .like {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 34px;
  cursor: pointer;
}

.beer img {
  height: 200px;
}

.beer h2 {
  font-family: 'Kaushan Script', cursive;
  line-height: 1.25;
  letter-spacing: 0.7px;
}

.beer-details-wrapper {
  background-color: #f2f2f2;
  padding-bottom: 64.02px;
}

.beer-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.beer-details div {
  /* border: solid black 1px; */
}

.beer-details .img-div {
  padding: 50px 20px;
  padding-left: 30px;
  
}

.beer-details .img-div img {
  height: 500px;
}

.beer-details .details-div {
  max-width: 500px;
  padding: 20px;
  position: relative;
}

.beer-details .details-div .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.beer-details .details-div .like {
  font-size: 34px;
  cursor: pointer;
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 15px;
}

.beer-details .details-div h1 {
  font-family: 'Kaushan Script', cursive;
  line-height: 1.25;
  letter-spacing: 1px;
  /* margin-left: -5px; */
}

.beer-details .details-div h2 {
  margin-top: -5px;
  margin-bottom: 20px;
  font-size: 18px;
}

.beer-details .details-div h3 {
  margin: 12px 0;
  font-size: 15px;
}

.beer-details .coeffiecients { 
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.beer-details .coeffiecient { 
  padding: 4px;
  margin-right: 7px;
  margin-top: 7px;
  background-color: #bf9000;
  border: #836200 1.5px solid;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 3px;
  /* color: #bf9000; */
  /* border: #bf9000 2px solid; */
}

.footer-wrapper {
  background-color: #bf9000;
  color: white;
  /* border-top: 2px solid #836200; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.footer-wrapper h2 {
  font-size: 22px;
  font-family: 'Kaushan Script', cursive;
  line-height: 1.25;
  letter-spacing: 1px;
}

.footer-wrapper a {
  display: inline-block;
  margin-left: 5px;
  font-size: 34px;
  position: relative;
  top: 3px;
  transition: color .1s ease-in-out;
}

.footer-wrapper a:hover {
  color: rgb(218, 218, 218);
}

.not-found {
  text-align: center;
  min-height: 300px;
}

.not-found h1 {
  margin-top: 70px;
  font-family: 'Kaushan Script', cursive;
  line-height: 1.25;
  letter-spacing: 1px;
}

.not-found h2 {
  margin-top: 40px;
  cursor: pointer;
  text-decoration: underline;
}

.not-found h2:hover {
  color: #bf9000;
}

.not-bold {
  font-weight: normal;
}

@media (max-width: 740px) {
  .filter-form-wrapper input[type=text] {
    width: 150px;
  }
  .filter-form-wrapper .displayLikedText {
    display: none;
  }
  .beer {
    transition: all;
  }

  .beer:hover {
    transform: none;
  }

  .simulate-form-size {
    width: 186px;
  }

  .footer-wrapper a:hover {
    color: white
  }

}

@media (max-width: 600px) {
  .beer-details {
    flex-wrap: wrap;
  }

  .beer-details .img-div {
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .beer-details .details-div {
    padding-top: 5px;
  }

  .beer-details .details-div .like {
    margin-top: 17px;
    margin-right: 0;
  }

  .beer-details .img-div img {
    height: 300px;
  }

  .footer-wrapper h2 {
    font-size: 16px;
  }
  
}