.filter-form-wrapper {
  padding: 10px;
  text-align: center;
}

.filter-form-wrapper input {
  font-size: 20px;
  background-color: #f2f2f2;
  outline: none;
  border: solid 1.3px black;
  border-radius: 3px;
}

.beers-wrapper{
  background-color: #f2f2f2;
  padding: 10px;
}

.beers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.beer {
  background-color: #fff;
  text-align: center;
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 10px;
  position: relative;
  transition: transform ease-in-out .2s;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.5);
}

.beer:hover {
  z-index: 5;
  transform: rotate(5deg) scale(1.1);
  /* background-color: #e8aa0e1b; */
}

.beer .like {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 30px;
  cursor: pointer;
}

.beer img {
  height: 200px;
}
